.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 25px 0;
    }
    .Button{
        display: flex;
        justify-content: space-between;
    }
}